.code-highlight .highlight .hll { background-color: #ffffcc }
.code-highlight .highlight .c { color: #008800; font-style: italic } /* Comment */
.code-highlight .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code-highlight .highlight .k { color: #000080; font-weight: bold } /* Keyword */
.code-highlight .highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.code-highlight .highlight .cp { color: #008080 } /* Comment.Preproc */
.code-highlight .highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.code-highlight .highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.code-highlight .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.code-highlight .highlight .ge { font-style: italic } /* Generic.Emph */
.code-highlight .highlight .gr { color: #aa0000 } /* Generic.Error */
.code-highlight .highlight .gh { color: #999999 } /* Generic.Heading */
.code-highlight .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.code-highlight .highlight .go { color: #888888 } /* Generic.Output */
.code-highlight .highlight .gp { color: #555555 } /* Generic.Prompt */
.code-highlight .highlight .gs { font-weight: bold } /* Generic.Strong */
.code-highlight .highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.code-highlight .highlight .gt { color: #aa0000 } /* Generic.Traceback */
.code-highlight .highlight .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.code-highlight .highlight .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.code-highlight .highlight .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.code-highlight .highlight .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.code-highlight .highlight .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.code-highlight .highlight .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.code-highlight .highlight .m { color: #0000FF } /* Literal.Number */
.code-highlight .highlight .s { color: #0000FF } /* Literal.String */
.code-highlight .highlight .na { color: #FF0000 } /* Name.Attribute */
.code-highlight .highlight .nt { color: #000080; font-weight: bold } /* Name.Tag */
.code-highlight .highlight .ow { font-weight: bold } /* Operator.Word */
.code-highlight .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.code-highlight .highlight .mf { color: #0000FF } /* Literal.Number.Float */
.code-highlight .highlight .mh { color: #0000FF } /* Literal.Number.Hex */
.code-highlight .highlight .mi { color: #0000FF } /* Literal.Number.Integer */
.code-highlight .highlight .mo { color: #0000FF } /* Literal.Number.Oct */
.code-highlight .highlight .sb { color: #0000FF } /* Literal.String.Backtick */
.code-highlight .highlight .sc { color: #800080 } /* Literal.String.Char */
.code-highlight .highlight .sd { color: #0000FF } /* Literal.String.Doc */
.code-highlight .highlight .s2 { color: #0000FF } /* Literal.String.Double */
.code-highlight .highlight .se { color: #0000FF } /* Literal.String.Escape */
.code-highlight .highlight .sh { color: #0000FF } /* Literal.String.Heredoc */
.code-highlight .highlight .si { color: #0000FF } /* Literal.String.Interpol */
.code-highlight .highlight .sx { color: #0000FF } /* Literal.String.Other */
.code-highlight .highlight .sr { color: #0000FF } /* Literal.String.Regex */
.code-highlight .highlight .s1 { color: #0000FF } /* Literal.String.Single */
.code-highlight .highlight .ss { color: #0000FF } /* Literal.String.Symbol */
.code-highlight .highlight .il { color: #0000FF } /* Literal.Number.Integer.Long */
