.code-highlight .highlight .hll { background-color: #404040 }
.code-highlight .highlight .c { color: #999999; font-style: italic } /* Comment */
.code-highlight .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code-highlight .highlight .g { color: #d0d0d0 } /* Generic */
.code-highlight .highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.code-highlight .highlight .l { color: #d0d0d0 } /* Literal */
.code-highlight .highlight .n { color: #d0d0d0 } /* Name */
.code-highlight .highlight .o { color: #d0d0d0 } /* Operator */
.code-highlight .highlight .x { color: #d0d0d0 } /* Other */
.code-highlight .highlight .p { color: #d0d0d0 } /* Punctuation */
.code-highlight .highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.code-highlight .highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.code-highlight .highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.code-highlight .highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.code-highlight .highlight .gd { color: #d22323 } /* Generic.Deleted */
.code-highlight .highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.code-highlight .highlight .gr { color: #d22323 } /* Generic.Error */
.code-highlight .highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.code-highlight .highlight .gi { color: #589819 } /* Generic.Inserted */
.code-highlight .highlight .go { color: #cccccc } /* Generic.Output */
.code-highlight .highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.code-highlight .highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.code-highlight .highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.code-highlight .highlight .gt { color: #d22323 } /* Generic.Traceback */
.code-highlight .highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.code-highlight .highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.code-highlight .highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.code-highlight .highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.code-highlight .highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.code-highlight .highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.code-highlight .highlight .ld { color: #d0d0d0 } /* Literal.Date */
.code-highlight .highlight .m { color: #3677a9 } /* Literal.Number */
.code-highlight .highlight .s { color: #ed9d13 } /* Literal.String */
.code-highlight .highlight .na { color: #bbbbbb } /* Name.Attribute */
.code-highlight .highlight .nb { color: #24909d } /* Name.Builtin */
.code-highlight .highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.code-highlight .highlight .no { color: #40ffff } /* Name.Constant */
.code-highlight .highlight .nd { color: #ffa500 } /* Name.Decorator */
.code-highlight .highlight .ni { color: #d0d0d0 } /* Name.Entity */
.code-highlight .highlight .ne { color: #bbbbbb } /* Name.Exception */
.code-highlight .highlight .nf { color: #447fcf } /* Name.Function */
.code-highlight .highlight .nl { color: #d0d0d0 } /* Name.Label */
.code-highlight .highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.code-highlight .highlight .nx { color: #d0d0d0 } /* Name.Other */
.code-highlight .highlight .py { color: #d0d0d0 } /* Name.Property */
.code-highlight .highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.code-highlight .highlight .nv { color: #40ffff } /* Name.Variable */
.code-highlight .highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.code-highlight .highlight .w { color: #666666 } /* Text.Whitespace */
.code-highlight .highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.code-highlight .highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.code-highlight .highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.code-highlight .highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.code-highlight .highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.code-highlight .highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.code-highlight .highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.code-highlight .highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.code-highlight .highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.code-highlight .highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.code-highlight .highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.code-highlight .highlight .sx { color: #ffa500 } /* Literal.String.Other */
.code-highlight .highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.code-highlight .highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.code-highlight .highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.code-highlight .highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.code-highlight .highlight .vc { color: #40ffff } /* Name.Variable.Class */
.code-highlight .highlight .vg { color: #40ffff } /* Name.Variable.Global */
.code-highlight .highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.code-highlight .highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
