.code-highlight .highlight .hll { background-color: #ffffcc }
.code-highlight .highlight .c { color: #888888 } /* Comment */
.code-highlight .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code-highlight .highlight .k { color: #008800; font-weight: bold } /* Keyword */
.code-highlight .highlight .cm { color: #888888 } /* Comment.Multiline */
.code-highlight .highlight .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.code-highlight .highlight .c1 { color: #888888 } /* Comment.Single */
.code-highlight .highlight .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.code-highlight .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.code-highlight .highlight .ge { font-style: italic } /* Generic.Emph */
.code-highlight .highlight .gr { color: #aa0000 } /* Generic.Error */
.code-highlight .highlight .gh { color: #303030 } /* Generic.Heading */
.code-highlight .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.code-highlight .highlight .go { color: #888888 } /* Generic.Output */
.code-highlight .highlight .gp { color: #555555 } /* Generic.Prompt */
.code-highlight .highlight .gs { font-weight: bold } /* Generic.Strong */
.code-highlight .highlight .gu { color: #606060 } /* Generic.Subheading */
.code-highlight .highlight .gt { color: #aa0000 } /* Generic.Traceback */
.code-highlight .highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.code-highlight .highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.code-highlight .highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.code-highlight .highlight .kp { color: #008800 } /* Keyword.Pseudo */
.code-highlight .highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.code-highlight .highlight .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.code-highlight .highlight .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.code-highlight .highlight .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.code-highlight .highlight .na { color: #336699 } /* Name.Attribute */
.code-highlight .highlight .nb { color: #003388 } /* Name.Builtin */
.code-highlight .highlight .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.code-highlight .highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.code-highlight .highlight .nd { color: #555555 } /* Name.Decorator */
.code-highlight .highlight .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.code-highlight .highlight .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.code-highlight .highlight .nl { color: #336699; font-style: italic } /* Name.Label */
.code-highlight .highlight .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.code-highlight .highlight .py { color: #336699; font-weight: bold } /* Name.Property */
.code-highlight .highlight .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.code-highlight .highlight .nv { color: #336699 } /* Name.Variable */
.code-highlight .highlight .ow { color: #008800 } /* Operator.Word */
.code-highlight .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.code-highlight .highlight .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.code-highlight .highlight .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.code-highlight .highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.code-highlight .highlight .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.code-highlight .highlight .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.code-highlight .highlight .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.code-highlight .highlight .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.code-highlight .highlight .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.code-highlight .highlight .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.code-highlight .highlight .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.code-highlight .highlight .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.code-highlight .highlight .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.code-highlight .highlight .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.code-highlight .highlight .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.code-highlight .highlight .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.code-highlight .highlight .bp { color: #003388 } /* Name.Builtin.Pseudo */
.code-highlight .highlight .vc { color: #336699 } /* Name.Variable.Class */
.code-highlight .highlight .vg { color: #dd7700 } /* Name.Variable.Global */
.code-highlight .highlight .vi { color: #3333bb } /* Name.Variable.Instance */
.code-highlight .highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
