.code-highlight .highlight .hll { background-color: #222222 }
.code-highlight .highlight .c { color: #000080 } /* Comment */
.code-highlight .highlight .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.code-highlight .highlight .g { color: #cccccc } /* Generic */
.code-highlight .highlight .k { color: #cdcd00 } /* Keyword */
.code-highlight .highlight .l { color: #cccccc } /* Literal */
.code-highlight .highlight .n { color: #cccccc } /* Name */
.code-highlight .highlight .o { color: #3399cc } /* Operator */
.code-highlight .highlight .x { color: #cccccc } /* Other */
.code-highlight .highlight .p { color: #cccccc } /* Punctuation */
.code-highlight .highlight .cm { color: #000080 } /* Comment.Multiline */
.code-highlight .highlight .cp { color: #000080 } /* Comment.Preproc */
.code-highlight .highlight .c1 { color: #000080 } /* Comment.Single */
.code-highlight .highlight .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.code-highlight .highlight .gd { color: #cd0000 } /* Generic.Deleted */
.code-highlight .highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.code-highlight .highlight .gr { color: #FF0000 } /* Generic.Error */
.code-highlight .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code-highlight .highlight .gi { color: #00cd00 } /* Generic.Inserted */
.code-highlight .highlight .go { color: #808080 } /* Generic.Output */
.code-highlight .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.code-highlight .highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.code-highlight .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code-highlight .highlight .gt { color: #0040D0 } /* Generic.Traceback */
.code-highlight .highlight .kc { color: #cdcd00 } /* Keyword.Constant */
.code-highlight .highlight .kd { color: #00cd00 } /* Keyword.Declaration */
.code-highlight .highlight .kn { color: #cd00cd } /* Keyword.Namespace */
.code-highlight .highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.code-highlight .highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
.code-highlight .highlight .kt { color: #00cd00 } /* Keyword.Type */
.code-highlight .highlight .ld { color: #cccccc } /* Literal.Date */
.code-highlight .highlight .m { color: #cd00cd } /* Literal.Number */
.code-highlight .highlight .s { color: #cd0000 } /* Literal.String */
.code-highlight .highlight .na { color: #cccccc } /* Name.Attribute */
.code-highlight .highlight .nb { color: #cd00cd } /* Name.Builtin */
.code-highlight .highlight .nc { color: #00cdcd } /* Name.Class */
.code-highlight .highlight .no { color: #cccccc } /* Name.Constant */
.code-highlight .highlight .nd { color: #cccccc } /* Name.Decorator */
.code-highlight .highlight .ni { color: #cccccc } /* Name.Entity */
.code-highlight .highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.code-highlight .highlight .nf { color: #cccccc } /* Name.Function */
.code-highlight .highlight .nl { color: #cccccc } /* Name.Label */
.code-highlight .highlight .nn { color: #cccccc } /* Name.Namespace */
.code-highlight .highlight .nx { color: #cccccc } /* Name.Other */
.code-highlight .highlight .py { color: #cccccc } /* Name.Property */
.code-highlight .highlight .nt { color: #cccccc } /* Name.Tag */
.code-highlight .highlight .nv { color: #00cdcd } /* Name.Variable */
.code-highlight .highlight .ow { color: #cdcd00 } /* Operator.Word */
.code-highlight .highlight .w { color: #cccccc } /* Text.Whitespace */
.code-highlight .highlight .mf { color: #cd00cd } /* Literal.Number.Float */
.code-highlight .highlight .mh { color: #cd00cd } /* Literal.Number.Hex */
.code-highlight .highlight .mi { color: #cd00cd } /* Literal.Number.Integer */
.code-highlight .highlight .mo { color: #cd00cd } /* Literal.Number.Oct */
.code-highlight .highlight .sb { color: #cd0000 } /* Literal.String.Backtick */
.code-highlight .highlight .sc { color: #cd0000 } /* Literal.String.Char */
.code-highlight .highlight .sd { color: #cd0000 } /* Literal.String.Doc */
.code-highlight .highlight .s2 { color: #cd0000 } /* Literal.String.Double */
.code-highlight .highlight .se { color: #cd0000 } /* Literal.String.Escape */
.code-highlight .highlight .sh { color: #cd0000 } /* Literal.String.Heredoc */
.code-highlight .highlight .si { color: #cd0000 } /* Literal.String.Interpol */
.code-highlight .highlight .sx { color: #cd0000 } /* Literal.String.Other */
.code-highlight .highlight .sr { color: #cd0000 } /* Literal.String.Regex */
.code-highlight .highlight .s1 { color: #cd0000 } /* Literal.String.Single */
.code-highlight .highlight .ss { color: #cd0000 } /* Literal.String.Symbol */
.code-highlight .highlight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.code-highlight .highlight .vc { color: #00cdcd } /* Name.Variable.Class */
.code-highlight .highlight .vg { color: #00cdcd } /* Name.Variable.Global */
.code-highlight .highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
.code-highlight .highlight .il { color: #cd00cd } /* Literal.Number.Integer.Long */
