{% extends "base.html" %}
{% block extra_style %}

{% endblock %}
{% block content %}
    {% include "blog/blog_menu.html" %}
    {% block inner_content %}{% endblock %}
{% endblock %}

{% block extra_js_at_end %}
<script>
    function toggle_raw(post_id) {
        $('#post-parsed-' + post_id).toggle();
        $('#post-raw-' + post_id).toggle();
    }
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$']]}
    });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}
