# -*- coding: utf-8 -*-

import os

BASEDIR = os.path.abspath(os.path.dirname(__file__))
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(BASEDIR, 'database/database.db')
SQLALCHEMY_MIGRATE_REPO = os.path.join(BASEDIR, 'db_repository')
CSRF_ENABLED = True
SECRET_KEY = 'random string here'
DEBUG = True
SERVER_NAME = "your hostname !"
LOG_FILE = "log/yourlogfile.log"

