<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MarkDownBlog</title>
    <meta name="description" content="A simple blogging platform that uses the markdown format to write articles.">
    <meta name="keywords" content="markdown, blog, blogging, platform, plateforme, markdownblog, technical, code, codin, syntax, highlight">

    <!-- Favicon Stuff (404 For now) -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/messenger.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/messenger-theme-ice.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sweet-alert.css') }}" rel="stylesheet">
    <!-- To be included automatically depending on the theme chosen by the user -->
    <link href="{{ url_for('static', filename='css/monokai.css') }}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% block extra_css_resources %}{% endblock %}
    {% block extra_style %}{% endblock %}
    <style type="text/css">
        body {
            {{ background_css | safe }}
            {% if background_cover %}
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            {% endif %}

            -ms-word-break: break-all;
            -ms-word-wrap: break-all;
            -webkit-word-break: break-word;
            -webkit-word-wrap: break-word;
            word-break: break-word;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
        }
    </style>
    <!-- JS Files -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/messenger.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweet-alert.min.js') }}"></script>
    {% block extrajs %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script type="text/javascript">
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-left',
            theme: 'ice'
        }
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
        Messenger().post({
            message: "{{message}}",
            category: "{{category}}",
            showCloseButton: true
        });
        {% endfor %}{% endif %}{% endwith %}
        function swal_delete(url) {
            swal({
              title: "Are you sure?",
              text: "This will delete the article permanently.",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes",
              closeOnConfirm: false
            },
            function(){
              location.href=url;
            });
        }
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.markdownblog.com"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
        var u="//analytics.depado.eu/";
        _paq.push(['setTrackerUrl', u+'mypi.php']);
        _paq.push(['setSiteId', 4]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'mypi.js'; s.parentNode.insertBefore(g,s);
        })();

        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <noscript><p><img src="//analytics.depado.eu/my.php?idsite=4" style="border:0;" alt="" /></p></noscript>
    {% block extra_js_at_end %}{% endblock %}
</body>
</html>
