{% extends "blog_base.html" %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Recently Registered Users</div>
                <div class="panel-content">
                    <ul class="nav nav-pills nav-stacked">
                    {% for latest in latest_users %}
                    <li>
                        <a href="{{ url_for('blog.index', user_slug=latest.blog_slug) }}">
                            {{ latest.username }}{% with count = latest.posts.count() %}<span class="badge pull-right">
                            {% if count %}{{ count }} Article{% if count > 1 %}s{% endif %}{% else %}No Articles{% endif %}</span>{% endwith %}
                        </a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Recent Articles</div>
                <div class="panel-content">
                    <ul class="nav nav-pills nav-stacked">
                    {% for post in latest_posts %}
                    <li><a href="{{ url_for('blog.get', user_slug=post.user.blog_slug, post_id=post.id) }}" data-toggle="tooltip" data-placement="right" data-container="body" title="{{ post.pub_date.strftime('%d-%m-%Y %H:%M') }} by {{ post.user.username | e }}">{{ post.title | e }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js_at_end %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
{% endblock %}
