{% extends "blog_base.html" %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">All the Articles</div>
                <div class="panel-content">
                    <ul class="nav nav-pills nav-stacked">
                    {% for post in posts %}
                    <li><a href="{{ url_for('blog.get', user_slug=post.user.blog_slug, post_slug=post.title_slug) }}" data-toggle="tooltip" data-placement="right" data-container="body" title="{{ post.pub_date.strftime('%d-%m-%Y %H:%M') }} by {{ post.user.username | e }}">{{ post.title | e }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
