{% extends "base.html" %}

{% block extra_css_resources %}
<link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                {% block inner_content %}{% endblock %}
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>
                    <a href="//github.com/Depado" target="_blank" style="text-decoration: none;"><i class="fa fa-github"></i> Author</a>
                    &nbsp;<a href="//github.com/Depado/MarkDownBlog" target="_blank" style="text-decoration: none;"><i class="fa fa-github"></i> Project</a>
                    &nbsp;&nbsp;<a href="mailto:paul.lhussiez@gmail.com" style="text-decoration: none"><i class="fa fa-envelope"></i> Contact</a>
                    &nbsp;<a href="#" style="text-decoration: none"><i class="fa fa-question-circle"></i> FAQ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
