{% macro render_field(field, toggle=False, with_label=True) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if not toggle and with_label %}<label>{{ field.label }}</label>{% endif %}
    {% if field.errors %}{% for err in field.errors %}
    <br /><label class="control-label">{{ err }}</label>
    {% endfor %}{% endif %}
    {% if toggle %}
        {{ field(class="form-control", data_toggle="toggle", data_on="Yes", data_off="No", data_onstyle="success") }}&nbsp;&nbsp;{{ field.label }}
    {% else %}
        {{ field(class="form-control", placeholder=field.description.placeholder) }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_paired_fields(toggle_field, input_field, global_title) %}
<div class="form-group {% if input_field.errors %}has-error{% endif %}">
    <label>{{ global_title }}</label>
    {% if input_field.errors %}{% for err in input_field.errors %}<br /><label class="control-label">{{ err }}</label>{% endfor %}{% endif %}
    {{ toggle_field(class="form-control", data_toggle="toggle", data_on="Yes", data_off="No", data_onstyle="success") }}
    {{ input_field(class="form-control", placeholder=input_field.description.placeholder) }}
</div>
{% endmacro %}

{% macro render_content_field(field) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.errors %}{% for err in field.errors %}
    <label class="control-label">{{ err }}</label>
    {% endfor %}{% endif %}
    {{ field(class="form-control", placeholder=field.description.placeholder, style="height: 45vh; resize: none;") }}
</div>
{% endmacro %}

{% macro render_blog_post(post, owner=False, index=True) %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11"><h4>{% if index %}<a href="{{ url_for('blog.get', user_slug=post.user.blog_slug, post_slug=post.title_slug) }}">{{ post.title | e }}</a>{% else %}{{ post.title | e }}{% endif %}</h4></div>
            <div class="col-md-1">
                {% if index %}
                <div class="pull-right">
                    <a href="#" onclick="toggle_raw('{{ post.id }}'); return false;" data-toggle="tooltip" data-placement="left" data-container="body" title="Toggle Raw Markdown"><i class="fa fa-eye"></i></a>
                </div>
                <br />
                {% else %}
                <a href="#" class="pull-right" onclick="toggle_raw('{{ post.id }}'); return false;" data-toggle="tooltip" data-placement="left" data-container="body" title="Toggle Raw Markdown"><i class="fa fa-eye"></i></a>
                <br />
                {% endif %}
                {% if owner %}
                <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="{{ url_for('edit', post_id=post.id) }}"><i class="fa fa-pencil"></i> Edit</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#" onclick="swal_delete('{{ url_for('delete', post_id=post.id) }}'); return false;"><i class="fa fa-trash"></i> Delete</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
        {{ post.pub_date.strftime('%d-%m-%Y %H:%M') }} by <a href="{{ url_for('blog.index', user_slug=post.user.blog_slug) }}">{{ post.user.username | e }}</a>
    </div>
    <div class="panel-body" id="post-{{ post.id }}">
        <div id="post-parsed-{{ post.id }}">
            {{ post.content_as_html() | safe }}
        </div>
        <div id="post-raw-{{ post.id }}" style="display: none;">
            <pre>{{ post.content }}</pre>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_blog_profile(user, owner=False) %}
<div class="panel panel-info">
    <div class="panel-body">
        {% if owner %}
        <a href="{{ url_for('settings') }}" class="pull-right"><i class="fa fa-pencil"></i></a>
        {% endif %}
        {% if user.blog_image %}
        <img src="{{ user.blog_image }}" alt="avatar" class="{% if user.blog_image_rounded %}img-circle{% endif %} img-responsive">
        {% else %}
        No Picture
        {% endif %}
    </div>
    <div class="panel-footer">
        <h4><a href="{{ url_for('blog.index', user_slug=user.blog_slug) }}">{{ user.blog_title | e }}</a></h4>
        <p>{{ user.blog_description | e }}</p>
        <a href="{{ url_for('blog.rss_feed', user_slug=user.blog_slug) }}">Rss Feed <i class="fa fa-rss"></i></a><br />
        {% if owner %}
        <a href="{{ url_for('new') }}" class="btn btn-primary btn-block">Write a New Article</a>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_paginator(blog_user, active_page) %}
<nav>
    <ul class="pagination">
        {% for page in blog_user.pages_as_list %}
            <li {% if active_page == page %}class="active"{% endif %}><a href="{{ url_for('blog.page', user_slug=blog_user.blog_slug, page=page) }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}
