{% from "helpers.html" import render_field %}
{% extends "blog_base.html" %}

{% block extra_css_resources %}
<link href="//gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block extrajs %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form method="post" action="">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Create a new post for your blog.
                    </div>
                    <div class="panel-body">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.blog_title) }}
                        {{ render_field(form.blog_description) }}
                        {{ render_field(form.blog_image) }}
                        {{ render_field(form.blog_round_image, toggle=True) }}
                        <button class="btn btn-lg btn-primary btn-block" name="btn" type="submit" value="{{ form._prefix }}btn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
