{% from "helpers.html" import render_field %}
{% extends "blog_base.html" %}

{% block extra_css_resources %}
<link href="//gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block extrajs %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form method="post" action="">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Settings
                    </div>
                    <div class="panel-body">
                        {{ form.hidden_tag() }}
                        <h2>General Settings</h2>
                        {{ render_field(form.blog_title) }}
                        {{ render_field(form.blog_description) }}
                        <hr>
                        <h2>Blog Image Settings</h2>
                        {{ render_field(form.blog_image) }}
                        {{ render_field(form.blog_image_rounded, toggle=True) }}
                        <hr>
                        <h2>Blog Background Settings</h2>
                        {{ render_field(form.blog_bg) }}
                        {{ render_field(form.blog_bg_public, toggle=True) }}
                        {{ render_field(form.blog_bg_repeat, toggle=True) }}
                        {{ render_field(form.blog_bg_everywhere, toggle=True) }}
                        {{ render_field(form.blog_bg_override, toggle=True) }}
                        <hr>
                        <h2>Blog Global Settings</h2>
                        <span>{{ render_field(form.blog_paginate, toggle=True) }}{{ render_field(form.blog_paginate_by) }}</span>
                        <button class="btn btn-lg btn-primary btn-block" name="btn" type="submit" value="{{ form._prefix }}btn">Save</button>
                    </div>
                </div>
            </form>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Other Informations
                </div>
                <div class="panel-body">
                    <h3>RSS Feed</h3>
                    <p>Here is your personnal RSS Feed url.</p>
                    <a href="{{ url_for("blog.rss_feed", user_slug=current_user.blog_slug) }}">{{ url_for("blog.rss_feed", user_slug=current_user.blog_slug) }</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
